{% extends 'hotel-base.html' %}
{% load static %}
{% block content %}
{% load myfilters %}
            <!--================Breadcrumb Area =================-->
            <section class="breadcrumb_area">
                <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
                <div class="container">
                    <div class="page-cover text-center">
                        <h2 class="page-cover-tittle">Accomodation</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Accomodation</li>
                        </ol>
                    </div>
                </div>
            </section>
            <!--================Breadcrumb Area =================-->
        
        <!--================ Accomodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color"> Available {{room_type.name}} Rooms</h2>
                    <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,</p>
                </div>
                <div class="row mb_30">
                    <div class="row mb_30">
                        {% if available_rooms %}
                        {% for room in available_rooms %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="accomodation_item text-center">
                                {% with room_images|get_dict_value:room.id as images %}
                                     {% if images %}
                                <div class="hotel_img">
                                    {% for image in images %}
                                    
                                    <img src="{{ image.image1.url }}"  class="img-fluid" alt="">
                                    <a href="{% url 'hotel:room_book_by_room_id' room_id=room.id %}" class="btn theme_btn button_hover">Book Now</a>
                                    
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <img src="{{ image.image2.url }}" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-md-6">
                                            <img src="{{ image.image3.url }}"  class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% endwith %}
                                <a href="#"><h4 class="sec_h4 d-inline">Room No. {{ room.room_number }} </h4></a>
                                <a href="#" class="d-inline fw-4">(More Detail...)</a>
                                <h5>#{{ room.price }}<small>/night</small></h5>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                   
                </div>
            </div>
        </section>
        <!--================ Accomodation Area  =================-->

      
      {% endblock %}