{% extends 'hotel-base.html' %}
{% block content %}

<section class=" h-100" style="margin-top: 20px; height:10%">
    <div class="container">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                    alt="Sample photo" class="img-fluid"
                                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase">Customer registration form</h3>

                                    <form action="" method="post"> {% csrf_token %}

                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                {% if form.username.errors %}
                                                {% for error in form.username.errors %}
                                                <p class="text-red-600 text-sm italic pb-2 text-danger">{{ error }}</p>
                                                {% endfor %}
                                                {% endif %}

                                                <div class="form-outline">
                                                    {{ form.username}}
                                                    <label class="form-label"
                                                        for="{{ form.username.label}}">{{ form.username.label}}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                {% if form.email.errors %}
                                                {% for error in form.email.errors %}
                                                <p class="text-red-600 text-sm italic pb-2 text-danger">{{ error }}</p>
                                                {% endfor %}
                                                {% endif %}

                                                <div class="form-outline">
                                                    {{ form.email }}
                                                    <label class="form-label"
                                                        for="{{ form.email.label}}">{{ form.email.label }}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 mb-4">
                                                {% if form.phone_number.errors %}
                                                {% for error in form.phone_number.errors %}
                                                <p class="text-red-600 text-sm italic pb-2 text-danger">{{ error }}</p>
                                                {% endfor %}
                                                {% endif %}

                                                <div class="form-outline">
                                                    {{ form.phone_number }}
                                                    <label class="form-label"
                                                        for="{{ form.phone_number.label }}">{{ form.phone_number.label }}</label>

                                                </div>
                                            </div>
                                        
                                            <div class="col-md-12 mb-4">
                                                {% if form.password1.errors %}
                                                {% for error in form.password1.errors %}
                                                <p class="text-red-600 text-sm italic pb-2 text-danger">{{ error }}</p>
                                                {% endfor %}
                                                {% endif %}

                                                <div class="form-outline">
                                                    {{ form.password1 }}
                                                    <label class="form-label"
                                                        for="{{ form.password1.label }}">{{ form.password1.label }}</label>

                                                </div>
                                            </div>

                                            <div class="col-md-12 mb-4">
                                                {% if form.password2.errors %}
                                                {% for error in form.password2.errors %}
                                                <p class="text-red-600 text-sm italic pb-2 text-danger">{{ error }}</p>
                                                {% endfor %}
                                                {% endif %}
                                                <div class="form-outline">
                                                    {{ form.password2 }}
                                                    <label class="form-label"
                                                        for="{{ form.password2.label }}">{{ form.password2.label }}</label>

                                                </div>
                                            </div>

                                        </div>

                                        

                                        <div class="d-flex justify-content-end ">
                                            <!-- <button type="button" class="btn btn-light btn-lg">Reset all</button> -->
                                            <button type="submit"
                                                class="btn btn-outline-primary btn-lg ">Submit</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

{% endblock content %}